<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core-home' %}">EMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.get_role_display == 'Admin' %}
                    {% include 'user_admin/links.html' %}
                {% elif user.get_role_display == 'University Admin' %}
                    {% include 'user_uni_admin/links.html' %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core-about' %}">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'users-profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'users-logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item float-right">
                        <a class="nav-link" href="{% url 'users-login' %}">Login</a>
                    </li>
                    <li class="nav-item float-right">
                        <a class="nav-link" href="{% url 'users-register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
