{% extends 'core/layout/base.html' %}

{% block content %}
    <h1>University Admins</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">University</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>

                <td>{{ user.id }}</td>
                <td><a href="#">{{ user.username }}</a></td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'user_admin-university-detail' user.university_set.first.pk %}">
                        {{ user.university_set.first.name }}
                    </a>
                </td>
                <td>{{ user.is_active }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
