{% extends 'core/layout/base.html' %}

{% block sidebar %}
    <a href="{% url 'user_admin-university-create' %}" class="btn btn-primary">New University</a>
{% endblock sidebar %}

{% block content %}
    <h1>University List</h1>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for university in object_list %}
            <tr>

                <td>{{ university.id }}</td>
                <td><a href="{% url 'user_admin-university-detail' university.pk %}">{{ university.name }}</a></td>
                <td>{{ university.email }}</td>
                <td>{{ university.is_active }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
